@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Playwrite+IE:wght@100..400&display=swap');


body {
    
    color: white;;
    font-size: 12pt;
    margin:0;
    padding:0;
    height:100%;
}

    
#caixa1 {
    display: flex;
    position: relative;
    padding-top:10px;
    padding-left:100px;
    height:100px;
    background-color:transparent;
    border: 1.5px solid rgba(255,255,255,0.18 );
    box-shadow: 0px 0px 30px rgba(227, 228,237 ,0.37);
    animation: cor 3s alternate-reverse infinite;
    z-index:1;
     backdrop-filter: blur(12px) saturate(140%)    brightness(1.3);
    -webkit-backdrop-filter: blur(12px) saturate(140%) brightness(1.4);
}
@keyframes cor {
    0% {
        box-shadow: 0 0 35px grey,0 0 45px lightcyan;
    }
    50%{
        box-shadow: 0 0 45px slategray,0 0 50px aliceblue;
    }
    100%{
        box-shadow:0 0 55px dimgray,0 0 45px deepskyblue;
    }
}


.titulo {
    padding-left:30px;    
    font-family:Playwrite IE;
    margin-top:5px;
    text-shadow:0 0 30px deepskyblue;
    white-space: nowrap;
}

.pontos {
    top:5px;
    left:10px;
    position:fixed;
    border-radius:15px;
    background-color:transparent;
    background-image: url(image/point.png);
    background-position: center ;
    border:none;
    background-size:60px;
    width:60px;
    height:60px;
}

#plano {
    filter: brightness(1.35) saturate(150%);
    object-fit:cover;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-2;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background: rgba(20, 20, 20, 0.7);
  backdrop-filter: blur(15px); 
  filter: brightness(1.35);
  color: white;
  z-index:2 ;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.3s ease;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
}


.sidebar.active {
  transform: translateX(0);
}   

.primeiro {
    font-family:Playwrite IE;
    padding-left:50px;
    font-size:35pt;
}

a {
    color: white;
    margin-bottom:50px;
    font-size:50px;
    font-family: Bitcount Grid Double;
    padding-left:22px;
    display:flex;
    animation:filtro 3s alternate-reverse infinite ;
}

@keyframes filtro {
    0% {
        color: grey;
    }
    50% {
        color: darkgrey;
    }
    100% {
        color: lightgrey;
    }
}
